/* Resetting default browser styles */
body {
  font-family: 'Arial', sans-serif;
  background-color: #eaeaea;
}

/* Main content styles */
.main-content {
  display: flex;
  justify-content: space-between;
}
.datamenus {
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 10px;
  margin-left: 25px;
  color: #000000;
}
.contextData {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 0px;
  margin-top: 5px;
}
/* Preview window styles */

.preview-window {
  flex: 0.7;
  height: flex;
  background-color: #ffffff;
  display: 'flex';
}
.preview-window-content {
  padding: 20px;
  padding-top: 10px;
  margin: 10px;
  margin-top: 5px;
  font-size: 18px;
  height: flex;
}
/* File database  */
.file-database {
  text-align: left;
  flex: 0.3;
  display: 'flex';
  padding-top: 20px;
  background-color: #dadada;
}
.filterName {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 0px;
  margin-top: 5px;
}
.time-frame {
  background-color: #c8c8c8;
  flex: 0.3;
  color: white;
  padding: 20px;
  margin-top: 5px;
  font-size: 18px;
  text-align: center;
}
.file-database-list {
  margin-top: 10px;
  text-align: left;
  font-size: 25px;
  font-weight: bold;
  padding: 25px;
  padding-top: 20px;
}

.today {
  height: 10vh;
  border-radius: 5px;
}

.last-3-day {
  height: 15vh;
  border-radius: 5px;
}

.last-30-day {
  height: 35vh;
  border-radius: 5px;
}
/* graph window styles */
.graphArea1 {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.graphSelection {
  margin-top: 25px;
  margin: 20px;
  width: 30%;
  height: 35vh;
  background-color: #c8c8c8;
  border-radius: 5px;
}
.graphType1 {
  margin-top: 25px;
  margin: 20px;
  width: 60%;
  height: 35vh;
  background-color: #c8c8c8;
  border-radius: 5px;
}
.graphType2 {
  margin: 20px;
  margin-top: 50px;
  height: 35vh;
  background-color: #c8c8c8;
  border-radius: 5px;
}
/* raw data area styles */
.rawDataArea {
  margin: 20px;
  display: flex;
  justify-content: space-between;
  height: 80vh;
  margin-top: 35px;
  background-color: #c8c8c8;
}
