.loginApp {
    font-family: sans-serif;
    text-align: center;
  }

.auth-wrapper {
    font-family: "Montserrat", sans-serif;
    height: 100vh;
    background: #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: -20px 0 50px;
}
  
  @import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");
  

  
  .loginApp h1 {
    font-weight: bold;
    margin: 0;
  }
  
  .loginApp h2 {
    text-align: center;
  }
  
  .loginApp p {
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
  }
  
  .loginApp span {
    font-size: 12px;
  }
  
  .loginApp a {
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
  }
  
  .loginApp button {
    border-radius: 20px;
    border: 1px solid #005086;
    background-color: #005086;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
  }
  
  .loginApp button:active {
    transform: scale(0.95);
  } 
  
  .loginApp button:focus {
    outline: none;
  }
  
  .loginApp button.ghost {
    background-color: transparent;
    border-color: #ffffff;
  }
  
  .loginApp form {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
  }
  
  .loginApp input {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
  }
  
  .loginApp .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
  }
  
  .form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
  }
  
  .sign-in-container {
    left: 0;
    width: 50%;
    z-index: 2;
  }
  
  .loginApp .container.right-panel-active .sign-in-container {
    transform: translateX(100%);
  }
  
  .loginApp .sign-up-container {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
  }
  
  .loginApp .container.right-panel-active .sign-up-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: show 0.6s;
  }
  
  @keyframes show {
    0%,
    49.99% {
      opacity: 0;
      z-index: 1;
    }
  
    50%,
    100% {
      opacity: 1;
      z-index: 5;
    }
  }
  
  .loginApp .overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
  }
  
  .container.right-panel-active .overlay-container {
    transform: translateX(-100%);
  }
  
  .overlay {
    background: #005086;
    background: -webkit-linear-gradient(to right, #4f6d7a, #c0d6df);
    background: linear-gradient(to right, #4f6d7a, #c0d6df);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    color: #ffffff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
  }
  
  .loginApp .container.right-panel-active .overlay {
    transform: translateX(50%);
  }
  
  .loginApp .overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
  }
  
  .loginApp .overlay-left {
    transform: translateX(-20%);
  }
  
  .loginApp .container.right-panel-active .overlay-left {
    transform: translateX(0);
  }
  
  .loginApp .overlay-right {
    right: 0;
    transform: translateX(0);
  }
  
  .loginApp .container.right-panel-active .overlay-right {
    transform: translateX(20%);
  }
  
  
  .loginApp footer {
    background-color: #222;
    color: #fff;
    font-size: 14px;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
}

.loginApp footer p {
    margin: 10px 0;
}

.loginApp footer i {
    color: red;
}

.loginApp footer a {
    color: #3c97bf;
    text-decoration: none;
}
  